body 
{
     background-color: rgba(0, 0, 0, 0);
}

#leftPic
{

}
#rightPic
{

}
.Menu
{
    float:left;
    margin:0 auto;
    width:800px;
    padding:0;
    border:1px solid #333;
}

#leftMenu
{

}
#rightMenu
{

}

footer 
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 99%;
    line-height: 2;
    padding: 0.5%;
    background-color: rgba(0, 151, 255, 0);}
}
